#wrapper-footer-full {
	background-color: #4a4a4a;

	h3 {
		color: $white;
		font-family: $proxima;
		font-size: 24px;
		font-style: italic;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
	}
}




