// Custom Global Styles

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $proxima;
	font-style: italic;
	font-weight: 900;
	text-transform: uppercase;
}
#content {
	ul {
		list-style-type: none;

		li:before {
			content: "▪";
			color: red;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}

// ACF Pro Map
.acf-map {
	width: 100%;
	height: 400px;
	margin: 50px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

// Breadcrumbs
#breadcrumbs {
	span,
	a {
		font-family: $proxima;
		font-style: italic;
		font-weight: 900;
		text-transform: uppercase;
	}

	a {
		color: #0fbdff;
	}
}
