.home {
	.hero {

		.container-fluid {
			padding-left: 0;
			padding-right: 0;

			img {
				height: auto;
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.about-wdc {
		background-image: url('../images/stripe-bg.png');
		padding: 25px 0 50px;

		h2 {
			color: $white;
			font-family: $proxima;
			font-size: 37px;
			font-style: italic;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}

		.col {
			align-content: space-between;
			background-color: rgba( 255, 255, 255, 0.9);
			display: flex;
			flex-direction: column;
			flex-flow: row wrap;
			padding-left: 0;
			padding-right: 0;
			margin: 0 15px;

			.image {
				display: block;
				margin: 10px auto;
				text-align: center;
			}

			.content {
				display: flex;
				flex-direction: column;
				padding: 0 15px;

				h3,
				.widget-title {
					color: $black;
					font-family: $proxima;
					font-size: 27px;
					font-style: italic;
					font-weight: 900;
					text-align: center;
					text-transform: uppercase;
				}

				p {
					color: $black;
					font-family: $proxima;
					font-size: 18px;
					font-weight: 300;
					margin-bottom: 15px;
				}

				button {
					background-color: $primary;
					border-color: transparent;
					color: $white;
					font-family: $proxima;
					font-size: 16px;
					font-style: italic;
					font-weight: 900;
					justify-content: center;
					margin: 0 auto 20px;
					padding: 6px 0;
					text-align: center;
					text-transform: uppercase;
					transition: background-color .3s ease-in-out;
					width: 140px;

					&:hover {
						background-color: $black;
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}

// Owl Carousel CSS
	.owl-carousel .animated {
		-webkit-animation-duration: 1000ms;
		animation-duration: 1000ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.owl-carousel .owl-animated-in { z-index: 0; }

	.owl-carousel .owl-animated-out { z-index: 1; }

	.owl-carousel .fadeOut  {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}

	@-webkit-keyframes fadeOut {
		0% { opacity: 1; }
		100% { opacity: 0; }
	}

	@keyframes fadeOut {
		0% { opacity: 1; }
		100% { opacity: 0; }
	}

	.owl-height {
		-webkit-transition:height 500ms ease-in-out;
		-o-transition:height 500ms ease-in-out;
		transition:height 500ms ease-in-out
	}

	.owl-carousel {
		display:none;
		-webkit-tap-highlight-color:transparent;
		position:relative;
		z-index:1;
		-webkit-backface-visibility: hidden;
	}

	.owl-carousel .owl-stage {
		position:relative;
		-ms-touch-action:pan-Y
	}

	.owl-carousel .owl-stage:after {
		content:".";
		display:block;
		clear:both;
		visibility:hidden;
		line-height:0;
		height:0
	}

	.owl-carousel .owl-stage-outer {
		position:relative;
		overflow:hidden;
		-webkit-transform:translate3d(0px,0,0);
		cursor:move;
		cursor:-webkit-grab;
		cursor:-o-grab;
		cursor:-ms-grab;
		cursor:grab
	}

	.owl-carousel .owl-controls .owl-dot,
	.owl-carousel .owl-controls .owl-nav .owl-next,
	.owl-carousel .owl-controls .owl-nav .owl-prev {
		cursor:pointer;
		cursor:hand;
		-webkit-user-select:none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none
	}

	.owl-carousel.owl-loaded { display:block }

	.owl-carousel.owl-loading {
		display:block;
		min-height: 100px;
		background: url('images/preloader.gif') no-repeat center center
	}

	.owl-carousel.owl-hidden { opacity:0 }

	.owl-carousel .owl-refresh .owl-item { display:none }

	.owl-carousel .owl-item {
		position:relative;
		min-height:1px;
		float:left;
		-webkit-backface-visibility:hidden;
		-webkit-tap-highlight-color:transparent;
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none
	}

	.owl-carousel .owl-item img {
		display:block;
		width:100%;
		-webkit-transform-style:preserve-3d;
	}

	#slider .owl-carousel .owl-item img { -webkit-backface-visibility: hidden; }

	.owl-carousel.owl-text-select-on .owl-item {
		-webkit-user-select:auto;
		-moz-user-select:auto;
		-ms-user-select:auto;
		user-select:auto
	}

	.owl-carousel .owl-grab {
		cursor:move;
		cursor:-webkit-grab;
		cursor:-o-grab;
		cursor:-ms-grab;
		cursor:grab;
	}


	// Owl Carousel - Controls

	.owl-theme .owl-controls {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
	}

	// Owl Carousel - Controls - Arrows
	.owl-theme .owl-controls .owl-nav [class*=owl-] {
		position: absolute;
		top: 50%;
		margin-top: -18px;
		left: -36px;
		zoom: 1;
		width: 36px;
		height: 36px;
		line-height: 32px;
		border: 1px solid rgba(0,0,0,0.2);
		color: #666;
		background-color: #FFF;
		font-size: 18px;
		border-radius: 50%;
		opacity: 0;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.owl-theme .owl-controls.with-carousel-dots .owl-nav [class*=owl-] { margin-top: -39px; }

	.owl-carousel-full .owl-controls .owl-nav [class*=owl-] {
		background-color: rgba(0,0,0,0.4);
		border-radius: 0 3px 3px 0;
		border: none;
		color: #EEE;
		font-size: 28px;
		height: 60px;
		left: 0 !important;
		line-height: 60px;
		margin-top: -30px;
		position: absolute;
	}

	.owl-carousel-full .owl-controls.with-carousel-dots .owl-nav [class*=owl-] {
		margin-top: -46px;
	}

	.owl-theme .owl-controls .owl-nav .owl-next {
		left: auto;
		right: -36px;
	}

	.owl-carousel-full .owl-controls .owl-nav .owl-next {
		border-radius: 3px 0 0 3px;
		position: absolute;
			right: 0 !important; left: auto !important;
	}

	.owl-theme:hover .owl-controls .owl-nav [class*=owl-] {
		opacity: 1;
		left: -18px;
	}

	.owl-theme:hover .owl-controls .owl-nav .owl-next {
		left: auto;
		right: -18px;
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
		background-color: #1ABC9C !important;
		color: #FFF !important;
		text-decoration: none;
	}

	.owl-theme .owl-controls .owl-nav .disabled { display: none !important; }


	// Owl Carousel - Controls - Dots
	.owl-theme .owl-dots .owl-dot {
		display: inline-block;
		zoom: 1;
		margin-top: 30px;
		*display: inline;
	}

	.owl-theme .owl-dots .owl-dot span {
		display: block;
		width: 8px;
		height: 8px;
		margin: 0 4px;
		opacity: 0.5;
		border-radius: 50%;
		background-color: #1ABC9C;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.owl-theme .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span { opacity: 1; }

	// Slider Area
	.slider-caption h2 {
		text-transform: none;
		letter-spacing: 0;
		line-height: 1;
		font-size: 72px;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	.slider-caption p {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.slider-caption h2,
	.slider-caption p,
	.slider-caption .button {
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-transform-origin: 50% 50% 0px;
		transform-origin: 50% 50% 0px;
		-webkit-transition: -webkit-transform .05s ease-out;
		transition: -webkit-transform .05s ease-out;
		transition: transform .05s ease-out;
		transition: transform .05s ease-out, -webkit-transform .05s ease-out;
		backface-visibility: hidden;
	}

	.swiper-slide.swiper-slide-active .slider-caption h2,
	.swiper-slide.swiper-slide-active .slider-caption p,
	.swiper-slide.swiper-slide-active .slider-caption .button {
		opacity: 1;
		-webkit-transition: transform 1s, opacity 1.05s;
		-o-transition: transform 1s, opacity 1.05s;
		transition: transform 1s, opacity 1.05s;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		backface-visibility: hidden;
	}

	.swiper-slide.swiper-slide-active .slider-caption p {
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}

	.swiper-slide.swiper-slide-active .slider-caption .button {
		-webkit-transition-delay: 0.6s;
		transition-delay: 0.6s;
	}

	.one-page-arrow { bottom: 30px; }
	.one-page-arrow .animated {
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
	}

	.slider-arrow-left i,
	.slider-arrow-right i {
		font-size: 34px;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.slider-arrow-left,
	.slider-arrow-right,
	.owl-carousel-full .owl-nav [class*=owl-] {
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.slider-arrow-left:hover,
	.slider-arrow-right:hover,
	.owl-carousel-full .owl-nav [class*=owl-]:hover {
		background-color: transparent !important;
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	// Feaured Carousel
	#oc-features {
		position: relative;

		.owl-item:not(.active) {
			opacity: .4;
		}

		.owl-item p {
			font-size: 16px;
			font-weight: 300;
			color: #666;
		}

		.owl-nav {
			position: absolute;
			top: 40px;
			right: 40px;

			.owl-prev.disabled,
			.owl-next.disabled {
				opacity: 0.3;
			}
		}
	}


	// Button-link
	.button-link {
		background-color: $primary;
		border-color: transparent;
		color: $white;
		display: inline-block;
		font-family: $proxima;
		font-size: 16px;
		font-style: italic;
		font-weight: 900;
		margin: 0 auto 20px;
		padding: 6px 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		transition: background-color .3s ease-in-out;
		width: 140px;

		&:hover {
			background-color: $black;
			color: $white;
			text-decoration: none;
		}
	}

	// Owl Carousel - Controls - Arrows
	.owl-carousel-full .owl-nav [class*=owl-] {
		height: 60px;
		line-height: 60px;
		border: none;
		color: $black;
		background-color: transparent;
		font-size: 28px;
		border-radius: 0;

		&:hover {
			color: $primary;
		}
	}

	// Owl Carousel - Responsive
	.device-lg .owl-carousel .owl-nav .owl-prev,
	.device-md .owl-carousel .owl-nav .owl-prev,
	.device-sm .owl-carousel .owl-nav .owl-prev,
	.device-xs .owl-carousel .owl-nav .owl-prev { left: 2px !important; }

	.device-lg .owl-carousel-full  .owl-nav .owl-next,
	.device-md .owl-carousel-full  .owl-nav .owl-next,
	.device-sm .owl-carousel-full  .owl-nav .owl-next,
	.device-xs .owl-carousel .owl-nav .owl-next { right: 2px !important; }


	// Owl Carousel - Custom
	.wdc-carousel {
		padding: 50px 0;

		h3 {
			color: $primary-dark;
			font-family: $proxima;
			font-size: 42px;
			font-style: italic;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.home {
	.section-heading {
		background-color: $black;
		padding: 10px 0 1px;

		.row {
			display: block;
			text-align: center;

			h2 {
				color: $white;
				font-family: $proxima;
				font-size: 37px;
				font-style: italic;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	.carousel-small {
		.owl-stage-outer {
			margin-top: 40px;
		}
	}
}




