

.header-image {
	align-items: center;
	display: flex;
	height: 140px;
	justify-content: center;

	@media only screen and (min-width: 767px) {
		height: 300px;
	}

	@media only screen and (min-width: 1025px) {
		height: 400px;
	}

	.page-title {
		background-color: rgba( 0, 0, 0, 0.7);
		padding: 30px 50px 20px;

		h1 {
			color: $white;
			font-family: $proxima;
			font-size: 30px;
			font-style: italic;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;

			@media only screen and (min-width: 767px) {
				font-size: 63px;
			}
		}
	}
}

.address {
	color: $black;
	font-family: $proxima;
	font-size: 28px;
	font-style: italic;
	font-weight: 700;
	line-height: 32px;
}

